<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Kanji Numbers Practice
  </h1>
  <p>Click on each number to show/hide the answer</p>
  <button (click)="onClickShowAnswers()">
    Show all Answers
  </button>
  <button (click)="onClickHideAnswers()">
      Hide all Answers
    </button>
</div>
<ol>
  <li class="worksheet-problem" *ngFor="let problem of problems;let i = index" (click)="onClickProblem(i)">
    {{ problem.question }}
    <span *ngIf="problem.answerVisible">- {{ problem.answer }}</span>
  </li>
</ol>
